
/**
 * Susy Configration schema
 */

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: split,
  container: 960px,
  columns: 12,
  gutters: 20/60,
);


/**
 * Breakpoints declarations
 */

$mobile-d: 479px;
$tab-d: 959px;
$mobile: 480px;
$tab: 960px;


/**
 * Media queries definitions
 */

// Mobile first approach - followed
$mobileUp : 'screen and (min-width: #{$mobile})';
$tabUp : 'screen and (min-width: #{$tab})';

// Desktop first approach
$mobileDown : 'screen and (max-width: #{$mobile-d})';
$tabDown : 'screen and (max-width: #{$tab-d})';
