/**
 * Extra code for guidelines
 **/

// Variables related to guidelines

// Colors
$white: #fff;
$grey : #ccc;
$light-grey : #efefef;
$milky : #fcfcfc;
$black: #000;

body{
  background-color: $milky;
}
// Container Emulation of actual website;
.container {
    max-width: 960px;
    border: 1px solid $light-grey;
    background-color: $white;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 20px;
}

.para{
  &-section{
    border: 1px dotted $grey;
    background-color: $white;
    margin: 20px 0;
    &:last-child{
      border-bottom: 0;
    }
  }
  &-row{
    background-color: $milky;
    border: 1px dashed $light-grey;
    @extend %borderBox;
    &:hover{
      background-color: $light-grey;
    }
  }
}
