/**
 * Class related to layouting
 */

.para{
  //** layouting of main sections
  &-section{
    @extend %vPadding;
    &-adjustment{
      @extend %marginAdj;
      @include clearfix();
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  /** Layouting of main rows **/
  &-row{
    @extend %vMargin;
    &-full-image {
      img {
        width: 100%;
        height:300px;
      }
    }
  }
  /* Layouts*/
  &-full-span,
  &-2-col,
  &-3-col,
  &-4-col,
  &-1-3-col{
    @include clearfix();
  }
  /** Layout for 100% **/
  &-full-span{
    > .para-row{
      @include span(12);
    }
  }
  /** layout 50% - 50% **/
  &-2-col{
    > .para-row{
      @include span(12);
      @media #{$mobileUp} {
        @include span(6 of 12);
      }
      .image-2-3-col{
        max-width: 306.66px;
        margin: 0px auto;
      }
    }
  }
  /** layout 33% - 33% - 33% **/
  &-3-col{
    > .para-row{
      @include span(12);
      @media #{$mobileUp} {
        @include span(4 of 12);
      }
    }
  }
  /** layout 25% - 25% - 25% -25% **/
  &-4-col{
    > .para-row{
      @include span(12);
      @media #{$mobileUp} {
        @include span(6 of 12);
      }
      @media #{$tabUp} {
        @include span(3 of 12);
      }
    }
  }
  /** layout 25% - 75% **/
  &-1-3-col{
    /* Giving first child 25% */
    > .para-row:first-child{
      @include span(12);
      @media #{$mobileUp} {
        @include span(4 of 12);
      }
      @media #{$tabUp} {
        @include span(3 of 12);
      }
    }
    /* Giving first child 75% with right float */
    > .para-row:last-child{
      @include span(12);
      float: right; // tweak for forcling flow to right.
      @media #{$mobileUp} {
        @include span(8 of 12);
      }
      @media #{$tabUp} {
        @include span(9 of 12);
      }
    }
  }
  /** Special layout for LR content **/
  &-aside {
    @extend %marginAdj;
    @include clearfix();
     .para-row-inner-el{
      width: 50%;
      float: left;
      @extend %hPadding;
      @extend %borderBox;
    }
  }
}

